.todo {
  display: flex;
  align-items: center;
}

.todo:first-child .move-up,
.todo:last-child .move-down {
  cursor: not-allowed;
  color: lightgray;
  font-variation-settings: 'FILL' 0;
}

.todo .favorite:hover {
  font-variation-settings: 'FILL' 0;
}

.todo .favorite.is-favorite {
  font-variation-settings: 'FILL' 1;
}
